<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      
      <class name="testcase.login_page_test_class"/>
      <class name="testcase.home_page_testcase"/>
      <class name="testcase.forgotpassword_testcase"/>
      <class name="testcase.recrument_page_testcase"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
